<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ZFS</string>
	<key>State</key>
	<false/>
	<key>Symbol</key>
	<string>cylinder.split.1x2</string>
	<key>AlternativeSymbol</key>
	<string>internaldrive</string>
	<key>Widgets</key>
	<dict>
		<key>mini</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Title</key>
			<string>ARC</string>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>0.92</string>
			</dict>
			<key>Order</key>
			<integer>0</integer>
		</dict>
		<key>line_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Color</key>
			<string>systemAccent</string>
			<key>Order</key>
			<integer>1</integer>
		</dict>
		<key>bar_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Label</key>
			<false/>
			<key>Box</key>
			<true/>
			<key>Color</key>
			<string>systemAccent</string>
			<key>Preview</key>
			<dict>
				<key>Label</key>
				<false/>
				<key>Box</key>
				<true/>
				<key>Color</key>
				<true/>
				<key>Value</key>
				<string>0.75</string>
			</dict>
			<key>Order</key>
			<integer>2</integer>
			<key>Unsupported colors</key>
			<array>
				<string>cluster</string>
			</array>
		</dict>
		<key>zfs_l2arc</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Title</key>
			<string>L2A</string>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>0.87</string>
			</dict>
			<key>Order</key>
			<integer>3</integer>
		</dict>
		<key>zfs_health</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Order</key>
			<integer>4</integer>
		</dict>
		<key>zfs_iostat</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Symbols</key>
			<dict>
				<key>Input</key>
				<string>R</string>
				<key>Output</key>
				<string>W</string>
			</dict>
			<key>Words</key>
			<dict>
				<key>Input</key>
				<string>Read</string>
				<key>Output</key>
				<string>Write</string>
			</dict>
			<key>Order</key>
			<integer>5</integer>
		</dict>
		<key>zfs_free</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Title</key>
			<string>FREE</string>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>0.44</string>
			</dict>
			<key>Order</key>
			<integer>6</integer>
		</dict>
		<key>zfs_free_bar</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Label</key>
			<false/>
			<key>Box</key>
			<true/>
			<key>Color</key>
			<string>systemAccent</string>
			<key>Preview</key>
			<dict>
				<key>Label</key>
				<false/>
				<key>Box</key>
				<true/>
				<key>Color</key>
				<true/>
				<key>Value</key>
				<string>0.55</string>
			</dict>
			<key>Order</key>
			<integer>7</integer>
			<key>Unsupported colors</key>
			<array>
				<string>cluster</string>
			</array>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>popup</key>
		<true/>
		<key>notifications</key>
		<true/>
	</dict>
	<key>Preview</key>
	<dict>
		<key>available</key>
		<false/>
	</dict>
</dict>
</plist>
